@charset "UTF-8";

body {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .9), transparent), url(frutas.jpg);
    background-attachment: fixed;


}

.principal {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: sans-serif, arial;
}

header {
    margin-top: 40px;
}

.titulo {
    text-align: center;
    text-transform: uppercase;
    color: #e1e114;
    font-size: 45px;

}

.principal nav {}

.principal ul {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 0;


}

.principal li {
    text-transform: uppercase;
    list-style: none;
    background-color: yellow;
    margin-bottom: 10px;
    border-radius: 10px;
}

.principal li:hover {
    background-color: #4c4040;
}

.principal a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.container {
    text-align: center;
    color: #e1e114;
    padding-top: 20px;

}

.container h1 {
    font-size: 25px
}
