body {
    background-image: linear-gradient(rgba(0, 0, 0, 1), transparent), url(frutas.jpg);
    background-attachment: fixed;
}

.principal {
    width: 60%;
    margin: auto;
    top: 30px;
}

header {

    margin: auto;
}

header nav .titulo {
    font-size: 70px;
    color: #dcdc3b;
    text-shadow: 4px 4px 4px #333;
    text-transform: uppercase;
    padding-top: 70px;
}

header nav ul {
    text-align: right;
    padding-right: 10px;
    padding-top: 70px;
}

header nav li {
    padding: 10px;
    margin-right: 60px;
    display: inline;
    border: 2px solid #dcdc3b;
    background: #dcdc3b;
    border-radius: 10px;
}

header nav li:hover {
    background: #5a5a22;
}

header nav li a {
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
}

.container {
    width: 70%;
    height: 35em;
    margin: auto;
    text-align: left;
    letter-spacing: 2px;


}

.container h1 {
    padding-top: 240px;
    color: #fff;

}
